body {
background: #445fea;
}

.container {
    background: #FBF6F6;
    width:290px;
    border-radius: 5px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 520px;
    margin: 0 auto;
    font-size: 12px;
}

